body {
    display: inline;
    flex-wrap: wrap;
}

/*Start of < Header >*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	color: white;
	font-size: 35px;
	font-family: Georgia, Times, serif;
	border-color: rgba(74, 54, 54, 0.21);
    border-bottom-style: groove;
    border-bottom-width: 3px;
}

.homepage-menu {
	justify-content: flex-start;
	font-size: 18px;
	width: 460px;
	display: flex;
}

.content {
	position: relative;
	left: 200px;
    display: flex;
    justify-content: left;
    width: 960px;
	height: 600px;
	margin-top: 40px;
}


li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
	word-spacing: 10px;
}

#about_link,
#contact_link,
#portfolio_link {
	color: grey;
	text-decoration: none;
}

#portfolio_link {
	border-left: solid lightgrey 1px;
	border-right: solid lightgrey 1px;
	padding: 0px 10px;
}

.portfolio-footer {
	bottom: -450px
}

#about_link:hover {
	color: purple;
}
#contact_link:hover {
	color: purple;
}
#portfolio_link:hover {
	color: purple;
}
/*End of < Header >*/

h1 {
	color: #4aaaa5;
	font-size: 25px;
	margin: 15px;
}


#h_image {
	float: left;
	padding: 20px 20px 0px 0px;
	height: 175px;
	width: 200px;
}


#hillary {
	font-family: Georgia, Times, "Times New Roman", serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #4aaaa5;
	padding: 0px 20px 0px 20px;
	width: 200px;
	position: relative;
	left: 200px;
	height: 100px;

}

body {
    margin: 0px;
    background-image: url("../images/cork-wallet.png");
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #4aaaa5;

}

/*#about_me, */
.pic-body,
.pic-box
/*#connect */{
	float: left;
}

#about_me {
	background-color: #ffffff;
	height: 500px;
	width: 590px;
/*	margin: 25px 25px 25px 200px;*/
	padding: 35px;
	line-height: 200%;
	border-color: rgba(123, 123, 123, 0.21);
    border-style: groove;
    border-width: 1px;
}

#contact-section {
	background-color: #ffffff;
	border-color: rgba(123, 123, 123, 0.21);
    border-style: groove;
    border-width: 1px;
	height: 500px;
	width: 590px;
/*	margin: 25px 25px 25px 200px;*/
	padding: 35px;
	line-height: 200%;
}

.portfolio-body {
	top: -50px;
	height: 1200px; 
	top: 100px;
}

.pic-body {
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 1px;
	height: 900px;
	width: 590px;
/*	margin: 25px 25px 25px 200px;*/
	padding: 35px;
	line-height: 200%;
}
.pic-box {
	margin: 20px 21px 0px 0px;
	width: 274px;
	height: 260px;
}

.pics {
/*	margin: 20px 20px 0px 0px;*/
	width: 274px;
	height: 220px;

}

.overlay {
	position: relative;
	bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 22px;
	background-color: #4aaaa5;
	width: 274px;
	height: 65px;
/*	margin: 20px;*/
}



#connect {

	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: white;
	border-color: rgba(123, 123, 123, 0.21);
    border-style: groove;
    border-width: 1px;
	height: 170px;
	width: 230px;
	text-align: center;
	padding: 20px;
	margin-left: 26px;
}

.image-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.connect-images {
	height: 65px;
	width: 65px;
	border-radius: 8px;
}


.connect-images:hover {
	height: 68px;
	width: 68px;
}

form {
	color: grey;
/*	margin: 20px;*/
	font-size: 18px;
	line-height: 200%;
	width: 99%;
	height: 400px;
}

input {
	width: 100%;
	height: 25px;
}

.submit {
	width: 90px;
	height: 50px;
	background-color: #4aaaa5;
	color: white;
	margin-top: 10px;
	font-size: 18px;
}

textarea {
	width: 100%;
	height: 125px;
	border-color: #999999;
}

footer {
	-webkit-align-self: flex-end;
    align-self: flex-end;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	position: relative;
	bottom: -150px;
	clear: left;
	text-align: center;
	background-color: #666666;
	color: white;
	height: 100px;
	border-color: #4aaaa5;
	border-top-style: solid;
    border-width: 10px;
}

@media screen and (max-width: 980px) {
/*
About page changes:*/

	.content {width: 700px; height: 900px;left: 140px;}
	.homepage-menu {width: 360px;}
	#h_image {float: left; padding: 20px 0px 0px 0px; height: 300px; width: 403px;}
	#about_me {	height: 900px; width: 590px;}
	#hillary {left: 140px;}
	li {right: 100px;}
	.connect-images {height: 45px; width: 45px;}
	.connect-images:hover {height: 50px; width: 50px;}

/*portfolio page changes:*/

	.pics {width: 402px; height: 270px;}
	.overlay {width: 402px;}
	.portfolio-body {height: 1500px;}
	.pic-body {height: 1500px;}
	.portfolio-content {height: 1500px;}
	.portfolio-footer {bottom: -100px}

/*contact page changes:*/

	form {height: 450px;}
	.contact-body {height: 500px;}
	.contact-content {height: 500px;}
	.contact-footer {bottom: -400px}
}

@media screen and (max-width: 768px) {
	
/*About page changes:*/
	.content {display: flex; flex-direction: column; width: 768px; left: 0px; margin: 40px 20px 20px 20px}
	#about_me {width: 658px;}
	.homepage-menu {width: 242px;}
	#h_image {padding: 20px 20px 20px 0px}
	#connect {height: 170px; width: 688px; text-align: left; padding: 20px; margin: 50px 0px 0px 0px;}
	footer {bottom: -100px;}
	.image-box {display: flex; justify-content: left;}
	.connect-images {height: 65px; width: 65px; padding: 7px;}
	#hillary {left: 20px;}
	.connect-images:hover {height: 68px; width: 68px;}

/*contact page changes:*/
	
	#contact-section {width: 658px;}
	.contact-footer {bottom: -355px;}
	.pic-body {width: 658px;}

/*portfolio page changes:*/

	.pics {width: 310px; height: 200px;}
	.pic-collection {height: 725px; width: 643px; display: flex; flex-wrap: wrap; align-content: space-around; justify-content: space-between;}
	.pic-box {height: 200px;}
	.overlay {width: 310px;}
	.portfolio-body {height: 1500px;}
	.pic-body {height: 786px; width: 658px;}
	.portfolio-content {height: 1090px;}
	.portfolio-footer {bottom: -50px}

}



@media screen and (max-width: 640px) {

/*About Me page change: 	*/

	body {width:640px;}
	header{height: 160px; display: flex; flex-direction: column; }
	.homepage-menu {align-self: center; display: flex; justify-content: space-around; align-items: center; height: 75px; width: 500px;}
	#hillary {display: flex; align-self: center; width: 640px; left:0px; padding: 0px;}
	#portfolio_link {padding: 0px 60px;}
	#about_me {width: 560px; padding: 20px;}
	#connect {width: 560px;}
	footer {bottom: -150px}

/*Contact page change: 	*/
	#contact-section {width: 560px; padding: 20px;}

	/*portfolio page changes:*/

	.pic-body {width: 560px; padding: 20px;}
	.pics, .pic-box {width: 558px; height: 400px;}
	.pic-collection {width: 560px; height: 1400px; display: flex; align-content: stretch ;}
	.portfolio-body {height: 1800px;}
	.portfolio-content {height: 2500px;}
	.pic-body {height: 2200px; width: 558px;}
	.overlay {width: 558px;}

 
}
	
}